<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.illinois.cs465.jukebox">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jukebox"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".GuestVoteActivity"
            android:exported="false" />
        <activity
            android:name=".HostPartyOverviewBeforeActivity"
            android:exported="false" />
        <activity
            android:name=".HostPartyOverviewDuringActivity"
            android:exported="false" />
        <activity
            android:name=".HostPartyOverviewPostActivity"
            android:exported="false" />
        <activity
            android:name=".GuestJoinPartyActivity"
            android:exported="false" />
        <activity
            android:name=".GuestSuggestionActivity"
            android:exported="false" />
        <activity
            android:name=".GuestKahootVoting"
            android:exported="false" />
        <activity
            android:name=".HostCreationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Jukebox.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Jukebox.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="edu.illinois.cs465.jukebox.MusicService" />
    </application>

</manifest>